## pivot
- 说明：  
    - 将DataFrame从长格式转换为宽格式。
    - 根据`index`参数，指定用于重新索引的列。
    - 根据`columns`参数，指定用于生成新列的列。
    - 根据`values`参数，指定用于填充新DataFrame的列。
    - `pandas.pivot`和`DataFrame.pivot`功能一致,区别在于`data`参数与引用对象不同。
- 参数： 
    - `data`: DataFrame  
    用于填充新DataFrame的数据
    - `index`: scalar | list  
    用于重新索引的列
    - `columns`: scalar | list  
    用于生成新列的列
    - `values`: scalar | list | None  
    用于填充新DataFrame的列
        - None: 使用所有剩余的列 (默认)
        

    
|引用对象\参数|`data`|`index`|`columns`|`values`|
|:-------:|:-------:|:-------:|:-------:|:-------:|
|`DataFrame`||√|√|√
|`pandas`|√|√|√|√|

In [17]:
import pandas as pd

df = pd.read_excel(r'..\0-data\stocks\互联网公司股票-03.xlsx')
df.head(10)

           日期    公司  指标      数值
0  2019-10-10  BIDU  收盘  103.85
1  2019-10-09  BIDU  收盘   99.90
2  2019-10-08  BIDU  收盘   99.53
3  2019-10-07  BIDU  收盘  101.47
4  2019-10-04  BIDU  收盘  104.47
5  2019-10-03  BIDU  收盘  104.32
6  2019-10-02  BIDU  收盘  102.62
7  2019-10-01  BIDU  收盘  102.00
8  2019-10-10  BABA  收盘  166.07
9  2019-10-09  BABA  收盘  165.19

In [29]:
pivot1 = df.pivot(index=['公司', '日期'], columns='指标', values='数值')
pivot2 = pd.pivot(df, index=['公司', '日期'], columns='指标', values='数值')
(pivot2 == pivot1).all().all()

True

In [31]:
pivot1

指标                   开盘      收盘
公司   日期
BABA 2019-10-01  168.01  165.15
     2019-10-02  162.82  165.77
     2019-10-03  166.65  169.48
     2019-10-04  169.60  170.34
     2019-10-07  168.83  168.32
     2019-10-08  164.30  161.93
     2019-10-09  165.50  165.19
     2019-10-10  165.96  166.07
BIDU 2019-10-01  102.80  102.00
     2019-10-02  100.85  102.62
     2019-10-03  102.35  104.32
     2019-10-04  103.83  104.47
     2019-10-07  103.79  101.47
     2019-10-08   99.50   99.53
     2019-10-09  100.29   99.90
     2019-10-10  100.79  103.85
IQ   2019-10-01   16.14   15.92
     2019-10-02   15.85   15.72
     2019-10-03   15.71   16.06
     2019-10-04   16.12   16.39
     2019-10-07   16.29   16.18
     2019-10-08   15.90   15.69
     2019-10-09   15.95   15.74
     2019-10-10   15.74   15.71
JD   2019-10-01   28.22   28.19
     2019-10-02   28.00   28.06
     2019-10-03   28.11   28.80
     2019-10-04   28.88   28.99
     2019-10-07   28.84   28.85
     2019-10-08   28.19   27.73
     2019-10-09   28.28   28.38
     2019-10-10   28.32   28.58

In [30]:
df.pivot(index=['公司', '日期'], columns='指标')

                     数值
指标                   开盘      收盘
公司   日期
BABA 2019-10-01  168.01  165.15
     2019-10-02  162.82  165.77
     2019-10-03  166.65  169.48
     2019-10-04  169.60  170.34
     2019-10-07  168.83  168.32
     2019-10-08  164.30  161.93
     2019-10-09  165.50  165.19
     2019-10-10  165.96  166.07
BIDU 2019-10-01  102.80  102.00
     2019-10-02  100.85  102.62
     2019-10-03  102.35  104.32
     2019-10-04  103.83  104.47
     2019-10-07  103.79  101.47
     2019-10-08   99.50   99.53
     2019-10-09  100.29   99.90
     2019-10-10  100.79  103.85
IQ   2019-10-01   16.14   15.92
     2019-10-02   15.85   15.72
     2019-10-03   15.71   16.06
     2019-10-04   16.12   16.39
     2019-10-07   16.29   16.18
     2019-10-08   15.90   15.69
     2019-10-09   15.95   15.74
     2019-10-10   15.74   15.71
JD   2019-10-01   28.22   28.19
     2019-10-02   28.00   28.06
     2019-10-03   28.11   28.80
     2019-10-04   28.88   28.99
     2019-10-07   28.84   28.85
     2019-10-08   28.19   27.73
     2019-10-09   28.28   28.38
     2019-10-10   28.32   28.58