## unstack
- 说明：  
    - 将DataFrame或Series的行索引转换为列索引，生成一个宽格式的DataFrame。
    - 根据`level`参数，指定要展开的级别。
    
- 参数： 
    - `level`: int | str | list[int | str] | None  
    要展开的级别
        - None: 展开所有级别 (默认)
        - int: 单个索引级别
        - str: 单个索引级别名称
        - list: 多个索引级别或名称
    - `fill_value`: scalar | None  
    用于填充缺失值的值
        - None: 不考虑这个参数 (默认)
    - `sort`: bool  
    是否对结果进行排序
        - True: 排序 (默认)
        - False: 不排序

|类型\参数|`level`|`fill_value`|`sort`|
|:-------:|:-------:|:-------:|:-------:|
|`DataFrame`|√|√|√|
|`Series`|√|√|√|

In [10]:
import pandas as pd

s1 = pd.Series(
    range(4),
    index=pd.MultiIndex.from_tuples(
        [('one', 'a'), ('one', 'b'), ('two', 'a'), ('two', 'b')]
    ),
)
s1

one  a    0
     b    1
two  a    2
     b    3
dtype: int64

In [18]:
s1.unstack(level=1)

     a  b
one  0  1
two  2  3

In [12]:
s1.unstack(level=0)

   one  two
a    0    2
b    1    3

In [ ]:
df1 = pd.DataFrame(
    range(4),
    index=pd.MultiIndex.from_tuples(
        [('one', 'a'), ('one', 'b'), ('two', 'a'), ('two', 'b')]
    ),
)
df1

       0
one a  0
    b  1
two a  2
    b  3

In [22]:
df1.unstack(level=0)

    0
  one two
a   0   2
b   1   3