||`isnull`/`isna`|`notnull`/`notna`|
|:-:|:-:|:-:|
|引用类型|返回类型|返回类型|
|`DataFrame`|DataFrame|DataFrame|
|`Series`|Series|Series|
|`Index`|numpy.ndarray|numpy.ndarray|

- 判断值是否为空值
- `''` 不会被识别为空值

In [1]:
import pandas as pd
from numpy import nan

df = pd.DataFrame(
    [
        [None, 2, '', 0],
        [3, 4, nan, 1], 
        [nan, nan, nan, nan]
    ],
    columns=list("ABCD"),
    index=[1, nan, 3],
)
df

       A    B    C    D
1.0  NaN  2.0       0.0
NaN  3.0  4.0  NaN  1.0
3.0  NaN  NaN  NaN  NaN

In [21]:
df.isna()

         A      B      C      D
1.0   True  False  False  False
NaN  False  False   True  False
3.0   True   True   True   True

In [22]:
df.A.notna()

1.0    False
NaN     True
3.0    False
Name: A, dtype: bool

In [23]:
df.index.notnull()

array([ True, False,  True])