## sort_index
- 说明：  
    - 对DataFrame或Series按索引进行排序
    - 根据`axis`参数，指定要排序的轴。
    - 可通过`ascending`参数指定排序顺序。
- 参数： 
    - `axis`: int  
    轴
        - 0：按行索引排序 (默认)
        - 1：按列索引排序
    - `level`: int | list[int] | None  
    多级索引中的级别
        - None: 不考虑这个参数 (默认)
        - int: 单个索引级别
        - list: 多个索引级别
    - `ascending`: bool | list[bool]  
    排序顺序
        - True：升序 (默认)
        - False：降序
    - `inplace`: bool  
    是否修改原DataFrame
        - False: 返回新的DataFrame (默认)
        - True: 修改原DataFrame
    - `kind`: str  
    排序算法
        - 'quicksort'：快速排序 (默认)
        - 'mergesort'：归并排序
        - 'heapsort'：堆排序
        - 'stable'：稳定排序
    - `na_position`: str  
    NaN值的位置
        - 'last'：NaN值放在最后 (默认)
        - 'first'：NaN值放在最前
    - `ignore_index`: bool  
    是否重置索引
        - False: 保留原索引 (默认)
        - True: 重置索引
    - `key`: callable | None  
    自定义排序函数
        - None: 不考虑这个参数 (默认)
        - callable: 自定义排序函数
    - `sort_remaining`: bool  
    是否对剩余的索引进行排 (当`level`参数不为None时)
        - True：对剩余的索引进行排序 (默认)
        - False：不对剩余的索引进行排序

|类型\参数|`axis`|`level`|`ascending`|`inplace`|`kind`|`na_position`|`ignore_index`|`key`|`sort_remaining`|
|:-------:|:-------:|:-------:|:-------:|:-------:|:-------:|:-------:|:-------:|:-------:|:-------:|
|`DataFrame`|√|√|√|√|√|√|√|√|√|
|`Series`|√|√|√|√|√|√|√|√|√|

In [4]:
import pandas as pd

df = pd.DataFrame([1, 2, 3, 4, 5], index=[100, 29, 234, 1, 150], columns=['A'])
df

     A
100  1
29   2
234  3
1    4
150  5

In [5]:
df.sort_index()

     A
1    4
29   2
100  1
150  5
234  3

In [10]:
df.A.sort_index(key=lambda x: x % 2, ascending=False)

29     2
1      4
100    1
234    3
150    5
Name: A, dtype: int64