创建 DataFrame

- data:
   - `None`:  
   创建一个空的 DataFrame
   - `Iterable`:  
   根据迭代的第一个元素判断是否需要展开多列
   - `dict`:  
   key 为列索引，value 为`DataFrame`中的行数据  
     - 当value为`Series`: `Series.name`作为列索引
     - 当value同时存在`Iterable`和`标量`: `标量`广播到到`Iterable`相同长度
   - `Series`:  
   `Series.index` 作为行索引，`Series.values` 作为列数据，`Series.name` 作为列索引
   - `DataFrame`:  
      - 当`index`或`columns`参数为`None`: 复制
      - 当`index`或`columns`参数不为`None`: 按照索引从源中引用, 无对应索引值为NaN
- index: 
   - None: 根据`data`参数生成
   - Iterable: 索引列表，`DtaFrame.columns.name`为None
   - Series: `Series.name`作为`DataFrame.inidx.name`
- columns: 
   - None: 根据`data`参数生成
   - Iterable: 列索引列表，`DtaFrame.columns.name`为None
   - Series: `Series.name`作为`DtaFrame.columns.name`
- dtype: 
   - None: 自行推断
   - class: 指定数据类型
   - dict: 指定对应列的数据类型
   - str: 指定数据类型
- copy: 是否复制数据
   - None: False
   - True: 复制数据
   - False: 不复制数据

```python
pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None) -> pandas.DataFrame

In [35]:
import pandas as pd
import numpy as np

pd.DataFrame(
    data=[('a', 10, 'm'), ('b', 20, 'f'), ('c', 30, 'm')],
    index=pd.date_range('2024', periods=3, name='date'),
    columns=pd.Index(['name', 'age', 'sex'], name='cols'),
    dtype='str',
    copy=False,
)

cols       name age sex
date
2024-01-01    a  10   m
2024-01-02    b  20   f
2024-01-03    c  30   m

In [36]:
pd.DataFrame([1,2,3])

   0
0  1
1  2
2  3

In [37]:
pd.DataFrame([[4, 5], [7, 8, 9]])

   0  1    2
0  4  5  NaN
1  7  8  9.0

In [45]:
pd.DataFrame({'a': 1, 'b': [1, 2], 'c': [1, 2]})

   a  b  c
0  1  1  1
1  1  2  2

In [39]:
pd.DataFrame(
    (
        pd.Series(
            ('a', 10, 'm'),
            index=('name', 'age', 'sex'),
            name=pd.Timestamp('2024-01-01'),
        ),
        pd.Series(
            ('b', 20, 'f'),
            index=('name', 'age', 'sex'),
            name=pd.Timestamp('2024-01-02'),
        ),
        pd.Series(
            ('c', 30, 'm'),
            index=('name', 'age', 'sex'),
            name=pd.Timestamp('2024-01-03'),
        ),
    )
)

           name  age sex
2024-01-01    a   10   m
2024-01-02    b   20   f
2024-01-03    c   30   m

In [40]:
pd.DataFrame(
    pd.Series(
        ['a', 10, 'm'], index=('name', 'age', 'sex'), name=pd.Timestamp('2024-01-01')
    )
)

     2024-01-01
name          a
age          10
sex           m

In [41]:
pd.DataFrame(
    {
        'name': pd.Series(
            ['a', 'b', 'c'], index=pd.date_range('2024', periods=3, name='date')
        ),
        'age': pd.Series(
            [10, 20, 30], index=pd.date_range('2024', periods=3, name='date')
        ),
        'sex': pd.Series(
            ['m', 'f', 'm'], index=pd.date_range('2024', periods=3, name='date')
        ),
    }
)

           name  age sex
date
2024-01-01    a   10   m
2024-01-02    b   20   f
2024-01-03    c   30   m

In [42]:
pd.DataFrame({
    'name': ['a', 'b', 'c'], 
    'age': [10, 20, 30], 
    'sex': ['m', 'f', 'm']
})

  name  age sex
0    a   10   m
1    b   20   f
2    c   30   m

In [43]:
pd.DataFrame(pd.DataFrame([[1, 2, 3], [4, 5, 6]]), index=[1], columns=[0, 2, 3])

   0  2   3
1  4  6 NaN