获取对应索引单个字符
```python
pat : str | compiled
# str ：正则表达式
# compiled ：编译好的正则表达式对象
flags : int
# int : 正则匹配模式

pandas.Series.str.extract(pat, flags=0) -> pandas.Series | pandas.DataFrame
pandas.Index.str.extract(pat, flags=0) -> pandas.Index | pandas.MultiIndex
```

In [4]:
import pandas as pd

s = pd.Series(['abcd', 'abcd'])
s

0    abcd
1    abcd
dtype: object

In [10]:
s.str.extractall(r'(?:(?P<一>\D)(?P<二>\D)(?P<三>\D)|...)(?P<四>.)')

         一  二  三  四
  match
0 0      a  b  c  d
1 0      a  b  c  d