# `pandas.ExcelFile` 参数说明

## io: 
1. str: 文件路径 | url
0. openpyxl.workbook:   workbook对象
0. xlrd.book:   book对象
## engine:
1. openpyxl
0. xlrd
0. pyxlsb
0. odf

## 方法：
1. parse()  参考pandas.read_excel
0. sheet_names 返回sheet名称列表
0. close() 关闭文件
0. engine 返回文件引擎
0. io 返回 文件路径 | 引用对象

In [22]:
import pandas as pd
import pyxlsb, xlrd, openpyxl

In [91]:
# xls
xlrd_file=xlrd.open_workbook(r'..\0-data\student_excel\student_excel.xls')
pandas_xlrd_file=pd.ExcelFile(
    xlrd_file,
    engine='xlrd'
    )

# xlsx
openpyxl_file=openpyxl.load_workbook(r'..\0-data\student_excel\student_excel.xlsx')
pandas_openpyxl_file=pd.ExcelFile(
    openpyxl_file,
    engine='openpyxl'
    )

# xlsb
pyxlsb_file=pyxlsb.open_workbook(r'..\0-data\student_excel\student_excel.xlsb')
pandas_pyxlsb_file=pd.ExcelFile(
    pyxlsb_file,
    engine='pyxlsb'
    )

# path
pandas_path_file=pd.ExcelFile(
    r'..\0-data\student_excel\student_excel.xlsx',
    engine='openpyxl'
    )

# url
pandas_url_file=pd.ExcelFile(
    'https://download.samplelib.com/xls/sample-simple-2.xls',
    engine=None,#默认值 自动识别引擎
    )

In [60]:
pandas_pyxlsb_file
pandas_openpyxl_file

In [71]:
df1=pd.read_excel(
    pandas_path_file,# pandas_pyxlsb_file | pandas_openpyxl_file | pandas_xlrd_file
    engine='openpyxl',# openpyxl | xlrd | pyxlsb
    sheet_name='Sheet1',
    usecols='B:D',
    header=2
    )

with pd.ExcelFile(r'..\0-data\student_excel\student_excel.xlsx') as xlsx:
    df2=xlsx.parse(
        sheet_name='Sheet1',
        usecols='B:D',
        header=2
        )

In [72]:
df1.head()

    姓名   科目    分数
0   小明   语文  85.0
1  NaN   数学  80.0
2  NaN   英语  90.0
3  NaN  NaN   NaN
4   小王   语文  85.0

In [73]:
df2.head()

    姓名   科目    分数
0   小明   语文  85.0
1  NaN   数学  80.0
2  NaN   英语  90.0
3  NaN  NaN   NaN
4   小王   语文  85.0

In [90]:
print(
    pandas_path_file.sheet_names,
    pandas_path_file.io,
    pandas_path_file.engine,
    sep='\n---\n'
)

['Sheet1']
---
..\0-data\student_excel\student_excel.xlsx
---
openpyxl

In [77]:
pandas_openpyxl_file.close()
pandas_pyxlsb_file.close()
pandas_xlrd_file.close()
pandas_path_file.close()