通过 0 和 1 表示该字符串(分隔符分割后的字符串)是否出现
```python
sep : str
# str : 分隔符

pandas.Series.str.get_dummies(sep='|') -> pandas.DataFrame
pandas.Index.str.get_dummies(sep='|') -> pandas.MultiIndex
```

In [ ]:
import pandas as pd
from numpy import nan

s = pd.Series(['a,a,b,c', 'a,b,e', nan])
s

0    a,a,b,c
1      a,b,e
2        NaN
dtype: object

In [ ]:
s.str.get_dummies(',')

   a  b  c  e
0  1  1  1  0
1  1  1  0  1
2  0  0  0  0

In [ ]:
s.str.get_dummies()

   a,a,b,c  a,b,e
0        1      0
1        0      1
2        0      0