## insert
- 说明：  
    - 在指定位置插入一列到DataFrame中。
    - 根据`loc`参数，指定插入的位置。
    - 注意插入值会修改原始数据。
- 参数： 
    - `loc`: int  
    插入的位置
    - `column`: str  
    新列的名称
    - `value`: scalar | array-like | Series  
    新列的值
    - `allow_duplicates`: bool  
    是否允许重复列名
        - False：不允许 (默认)
        - True：允许
    - `item`: object  
    插入新index

|类型\参数|`loc`|`column`|`value`|`allow_duplicates`|`item`|
|:-------:|:-------:|:-------:|:-------:|:-------:|:-------:|
|`DataFrame`|√|√|√|√|
|`Index`|√||||√|

In [4]:
import pandas as pd

df = pd.DataFrame({'A': [1, 4], 'C': [3, 6]})
df

   A  C
0  1  3
1  4  6

In [ ]:
df.insert(1,'B',[2,5])

In [6]:
df

   A  B  C
0  1  2  3
1  4  5  6

In [7]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [8]:
df.index.insert(2,'2')

Index([0, 1, '2'], dtype='object')

In [10]:
df.columns.insert(3, 'D')

Index(['A', 'B', 'C', 'D'], dtype='object')