**属性引用的特点和使用**  

**特点**：  
1. 对`DataFrame`返回列
2. 对`Series`返回值

**限制**：
1. 只有在列名满足变量命名规则（即列名不包含空格、特殊字符且不以数字开头）时才能使用这种方式。  
0. 引用的列名不能是关键字，比如index、columns、name等。当名称冲突时会返回对应关键字内容，而不是引用内容。

In [12]:
from pandas import read_csv
df=read_csv(
    filepath_or_buffer=r'..\0-data\beijing_tianqi\学生成绩.csv',
    usecols=[0,1],
    nrows=5,
    skiprows=1,
    names=['name','score'],
    dtype={'name':'str','score':'int'},
)
df

  name  score
0  小明1     54
1  小明2     51
2  小明3     84
3  小明4     71
4  小明5     78

In [13]:
df.name

0    小明1
1    小明2
2    小明3
3    小明4
4    小明5
Name: name, dtype: object

In [16]:
df.loc[1]

name     小明2
score     51
Name: 1, dtype: object

In [20]:
df.loc[1].score

51

In [18]:
df.loc[1].name

1