从右侧开始拆分
```python
pat : str | function
# str : 匹配字符串
n : int
# int : 拆分次数
# -1 : 无限制
expand : bool
# bool : 是否提升维度
# None : 不升维度

pandas.Series.str.rsplit(pat=None, *, n=-1, expand=False) -> pandas.Series | pandas.DataFrame
pandas.Index.str.rsplit(pat=None, *, n=-1, expand=False) -> pandas.Index | pandas.MultiIndex
```

In [6]:
import pandas as pd

s = pd.Series(['a,b,c,d', 'A-B-C-D'])
s

0    a,b,c,d
1    A-B-C-D
dtype: object

In [14]:
s.str.rsplit(',')

0    [a, b, c, d]
1       [A-B-C-D]
dtype: object

In [15]:
s.str.rsplit(',',n=1)

0    [a,b,c, d]
1     [A-B-C-D]
dtype: object

In [16]:
s.str.rsplit(',', n=1, expand=True)

         0     1
0    a,b,c     d
1  A-B-C-D  None

In [17]:
s.str.rsplit(',|-', expand=True)

         0
0  a,b,c,d
1  A-B-C-D