从左侧开始拆分字符串,返回包含拆分字符列在内的3个元素
```python
sep : str | function
# str : 匹配字符
expand : bool
# bool : 是否提升维度
# None : 提升维度


pandas.Series.str.partition(sep=' ', expand=True) -> pandas.Series | pandas.DataFrame
pandas.Index.str.partition(sep=' ',  expand=True) -> pandas.Index | pandas.MultiIndex
```

In [5]:
import pandas as pd

s = pd.Series(['a,b,c,d', 'A,B,C-D'])
s

0    a,b,c,d
1    A,B,C-D
dtype: object

In [6]:
s.str.partition(',')

   0  1      2
0  a  ,  b,c,d
1  A  ,  B,C-D