拆分字符串,可使用正则表达式
```python
pat : str | function
# str : 匹配字符串 或 正则表达式模式
# function : re的编译对象
n : int
# int : 拆分次数
# -1 : 无限制
expand : bool
# bool : 是否提升维度
# None : 不升维度
regex : bool | None
# bool : 是否使用正则表达式模式
# None : pat 字符串长度超过1则为True, pat 字符串为1则为False

pandas.Series.str.split(pat=None, *, n=-1, expand=False, regex=None) -> pandas.Series | pandas.DataFrame
pandas.Index.str.split(pat=None, *, n=-1, expand=False, regex=None) -> pandas.Index | pandas.MultiIndex
```

In [6]:
import pandas as pd

s = pd.Series(['a,b,c,d', 'A-B-C-D'])
s

0    a,b,c,d
1    A-B-C-D
dtype: object

In [7]:
s.str.split(',')

0    [a, b, c, d]
1       [A-B-C-D]
dtype: object

In [8]:
s.str.split(',',n=1)

0    [a, b,c,d]
1     [A-B-C-D]
dtype: object

In [ ]:
s.str.split(',', n=1, expand=True)

         0      1
0        a  b,c,d
1  A-B-C-D   None

In [13]:
s.str.split(',|-', expand=True)

   0  1  2  3
0  a  b  c  d
1  A  B  C  D