# 空值填充
## fillna
- 说明:  
    填充空值
- 参数：
    - `value`  :scalar | Series | DataFrame | dict
        - scalar :填充值
        - Series/dict/DataFrame :索引中不存在的值将不会被填充。
        - 示例
            ``` python
            df.fillna(
                value={'A':0, 'B':1}
            )
            df.fillna(
                value=pd.DataFrame(
                    {
                        'A': [1, 2, 3],
                        'C': [7, 8, 9],
                    }
                )
            )
                
            ```
    - `axis`  :int  
        填充方向
        - 0：列方向 (默认)
        - 1：行方向
    - `inplace`  :bool
        是否在修改原数据
        - True：修改原数据
        - False：返回新数据 (默认)
    - `limit`  :int  | None
        限制填充个数
        - None：不限制
## ffill
- 说明:  
    前向填充空值
- 参数:
    - 位置参数1 :参考fillna的value参数
    - `axis` :int  
        轴
    - `linmit` :int | None  
        限制填充个数
    - `inplace` :bool  
        是否在修改原数据
    - `limit_area` :None | 'front' | 'back'  
        填充限制 
        - None：前向填充和后向填充都填充
        - 'front'：仅填充被有效值包围的 NaN
        - 'back'：仅填充有效值之外的 NaN
## bfill
- 说明:  
    后向填充空值
- 参数:  
    与`ffill`一致
## interpolate
- 说明:  
    插值填充空值
- 参数:
    - `method`: str  
        填充的方法
        - 'linear' : 线性插值
        - 'time' : 时间插值
        - 'index'/'values' : 索引插值
        - 'pad' : 使用现有值填充 NaN
    - `axis` :int  
        轴
    - `limit`  :int  | None
        限制填充个数
    - `inplace`  :bool  
        是否在修改原数据
    - `limit_area` : None | 'front' | 'back'  
        填充限制

In [52]:
import pandas as pd
from numpy import nan

df = pd.DataFrame(
    [
        [None, 2, nan, 0],
        [3, 4, nan, 1], 
        [nan, nan, nan, nan]
    ],
    columns=list("ABCD")
)
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN

In [53]:
df.fillna(
    value={'A':0, 'B':1}
)

     A    B   C    D
0  0.0  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  0.0  1.0 NaN  NaN

In [54]:
df.fillna(
    value=pd.DataFrame(
        {
            'A': [1, 2, 3],
            'C': [7, 8, 9],
        }
    )
)

     A    B    C    D
0  1.0  2.0  7.0  0.0
1  3.0  4.0  8.0  1.0
2  3.0  NaN  9.0  NaN