# 算术运算符
| 运算 | 描述 ||比较|描述||逻辑|描述||赋值|描述|
| :- | :- | -| :- | :- | -| :- | :- | -| :- | :- |
|`+`/`add`|加||`==`/`eq`|等于|| `&`/`and`| 与||`=`|赋值|
|`-`/`sub`|减||`!=`/`ne`| 不等于|| `\|`/`or`| 或||`+=`| 加并赋值|
| `*`/`mul` | 乘||`>`/`gt`| 大于|| `~`/`not`| 非||`-=`| 减并赋值|
| `/`/`div`/`truediv`| 除||`<`/`lt`| 小于|| `^`| 异或||`*=`| 乘并赋值|
| `%`/`mod`| 余|| `>=`/`ge`| 大于等于|||||`/=`| 除并赋值|
| `**`/`pow`| 幂|| `<=`/`le`| 小于等于|||||`%=`| 取余并赋值|
| `//`/`floordiv`| 整除||||||||`**=`| 幂并赋值|
||||||||||`//=`| 整除并赋值|

In [43]:
import numpy as np
import pandas as pd
df=pd.DataFrame(
    np.zeros((4,4)),
    columns=list('ABCD'),
    dtype='int'
    )
df

   A  B  C  D
0  0  0  0  0
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0

# 广播机制
| | 单个元素 | Series | DataFrame |
| :--- | :--- | :--- | :--- |
| 单个元素 |  | 与Series中的每个元素交互 | 与DataFrame中的每个元素交互 |
| Series | 与Series中的每个元素交互 | 按index交互 | 按Series的index与DataFrame的index/column交互,无对应index/column则返回NaN |
| DataFrame | 与DataFrame中的每个元素交互 | 按Series的index与DataFrame的index/column交互,无对应index/column则返回NaN | 按对应index&column交互,无对应index&column则对应值返回NaN |

小提示 : 可以尝试用`values`方法返回`numpy`矩阵解决索引的问题

In [45]:
df+pd.Series([1,2,3,4],index=list('ABCD'))

   A  B  C  D
0  1  2  3  4
1  1  2  3  4
2  1  2  3  4
3  1  2  3  4

In [73]:
df.add(pd.Series([1,2,3],index=list('ABC')),)

     A    B    C   D
0  1.0  2.0  3.0 NaN
1  1.0  2.0  3.0 NaN
2  1.0  2.0  3.0 NaN
3  1.0  2.0  3.0 NaN

In [69]:
df.add([1,2,3,4],axis=0)

   A  B  C  D
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4