In [24]:
import numpy as np
import pandas as pd
df=pd.DataFrame(
    np.arange(1,10).reshape(3,3),
    index=range(1,4),
    columns=['A','B','C']
    )
df

   A  B  C
1  1  2  3
2  4  5  6
3  7  8  9

In [29]:
df=pd.DataFrame(np.zeros((3,3),dtype=np.int8),index=range(1,4),columns=['A','B','C'])
df

   A  B  C
1  0  0  0
2  0  0  0
3  0  0  0

In [48]:
df

   A  B  C
1  0  0  0
2  0  0  0
3  0  0  0