# `pandas.DataFrame.where`  |   `pandas.DataFrame.mask`
## 说明
- DataFrame.where  
    替换为 `False` 的值
- DataFrame.mask  
    替换为 `True` 的值
## 参数
1. `cond`:  
    - 布尔数组: Series | DataFrame | np.ndarray
    - function:
        对轴值进行函数调用
2. `other`: scalar, Series, DataFrame   
    - 默认为 pd.NA
    - 数组: Series | DataFrame | np.ndarray
        索引值必须与 cond 相同
    - scalar: 
        进行广播
3. `axis`: 1 | 0
    - 默认为 0 : 行
    - 1 : 列
4. `inplace`: bool
5. `level`: int | str

In [2]:
import pandas as pd
df=pd.DataFrame(
    [
        [1,2,3],
        [4,5,6],
        [7,8,9]
    ]
)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
df.mask(
    lambda x: x % 2 == 1,
    lambda x: x * x,
)

    0   1   2
0   1   2   9
1   4  25   6
2  49   8  81

In [6]:
df.mask(
    df%2!=0,
    df*df
)

    0   1   2
0   1   2   9
1   4  25   6
2  49   8  81

In [3]:
df.where(
    lambda x: x % 2 == 1,
    lambda x: x * x,
)

    0   1   2
0   1   4   3
1  16   5  36
2   7  64   9

In [7]:
df.where(
    df%2!=0,
    df*df
)

    0   1   2
0   1   4   3
1  16   5  36
2   7  64   9

In [8]:
s=pd.Series([1,2,3,4])
s.mask(lambda x:x==1,'一')

0    一
1    2
2    3
3    4
dtype: object

: