In [1]:
import pandas as pd

path = '20241024-pandas：merge多表（先后满足）.xlsx'
df = pd.read_excel(path, usecols='A:B', dtype={'产品名称': 'str', '总保费(元)': 'int'})
df_bf = pd.read_excel(path, usecols='E:F', nrows=4, names=['保费', '系数'])
df_cp = pd.read_excel(path, usecols='E:F', nrows=3, skiprows=6)
df.head()

            产品名称  总保费(元)
0        抵押商品房保险     320
1        抵押商品房保险      40
2       非营业用汽车保险    1105
3  机动车交通事故责任强制保险     855
4  机动车交通事故责任强制保险    1080

In [2]:
df_bf

     保费   系数
0  1080  0.4
1   665  0.5
2   960  0.2
3   855  0.6

In [3]:
df_cp

            产品名称   系数
0        抵押商品房保险  0.7
1       非营业用汽车保险  0.6
2  机动车交通事故责任强制保险  0.2

In [4]:
df_m1 = df.merge(df_cp,on='产品名称',how='left')
df_m1.update(df.merge(df_bf.系数,left_on='总保费(元)',right_on=df_bf.保费,how='left'))
df_m1

             产品名称  总保费(元)   系数
0         抵押商品房保险     320  0.7
1         抵押商品房保险      40  0.7
2        非营业用汽车保险    1105  0.6
3   机动车交通事故责任强制保险     855  0.6
4   机动车交通事故责任强制保险    1080  0.4
5   机动车交通事故责任强制保险     665  0.5
6   机动车交通事故责任强制保险     960  0.2
7   机动车交通事故责任强制保险    1080  0.4
8   机动车交通事故责任强制保险     665  0.5
9   机动车交通事故责任强制保险    1200  0.2
10  机动车交通事故责任强制保险    1080  0.4
11  机动车交通事故责任强制保险     950  0.2
12  机动车交通事故责任强制保险     840  0.2
13  机动车交通事故责任强制保险     960  0.2
14  机动车交通事故责任强制保险     950  0.2
15  机动车交通事故责任强制保险     990  0.2
16  机动车交通事故责任强制保险     855  0.6
17  机动车交通事故责任强制保险     665  0.5
18  机动车交通事故责任强制保险     665  0.5
19  机动车交通事故责任强制保险    1080  0.4
20  机动车交通事故责任强制保险     950  0.2
21  机动车交通事故责任强制保险    1200  0.2
22  机动车交通事故责任强制保险     840  0.2

In [5]:
df_m = df.merge(df_bf.系数,left_on='总保费(元)',right_on=df_bf.保费,how='left').fillna(df.merge(df_cp,on='产品名称'))
df_m

             产品名称  总保费(元)   系数
0         抵押商品房保险     320  0.7
1         抵押商品房保险      40  0.7
2        非营业用汽车保险    1105  0.6
3   机动车交通事故责任强制保险     855  0.6
4   机动车交通事故责任强制保险    1080  0.4
5   机动车交通事故责任强制保险     665  0.5
6   机动车交通事故责任强制保险     960  0.2
7   机动车交通事故责任强制保险    1080  0.4
8   机动车交通事故责任强制保险     665  0.5
9   机动车交通事故责任强制保险    1200  0.2
10  机动车交通事故责任强制保险    1080  0.4
11  机动车交通事故责任强制保险     950  0.2
12  机动车交通事故责任强制保险     840  0.2
13  机动车交通事故责任强制保险     960  0.2
14  机动车交通事故责任强制保险     950  0.2
15  机动车交通事故责任强制保险     990  0.2
16  机动车交通事故责任强制保险     855  0.6
17  机动车交通事故责任强制保险     665  0.5
18  机动车交通事故责任强制保险     665  0.5
19  机动车交通事故责任强制保险    1080  0.4
20  机动车交通事故责任强制保险     950  0.2
21  机动车交通事故责任强制保险    1200  0.2
22  机动车交通事故责任强制保险     840  0.2

In [7]:
(df_m==df_m1).all().all()

True