In [7]:
import pandas as pd

df = pd.read_excel('pd练习：007：表头合并到表体聚合后拼接.xlsx', nrows=7)
df.日期 = pd.to_datetime(df.日期, unit='D', origin='1899-12-30').dt.strftime('%Y-%m-%d')
df

   姓名          日期   上午   下午   晚上
0  张三  2024-10-02   湖北  NaN  NaN
1  张三  2024-10-02  KTV   湖南  NaN
2  李四  2024-10-07   上海  NaN  NaN
3  李四  2024-10-07  NaN   杭州  NaN
4  王五  2024-10-08   杭州  NaN  NaN
5  王五  2024-10-08  NaN   宁波  NaN
6  王五  2024-10-08  NaN  NaN   上海

In [25]:
df.melt(id_vars=['姓名', '日期'], var_name='x', value_name='y').dropna().groupby(
    ['姓名', '日期']
).apply(lambda s: ';'.join(s.x + s.y), include_groups=False)

姓名  日期
张三  2024-10-02    上午湖北;上午KTV;下午湖南
李四  2024-10-07          上午上海;下午杭州
王五  2024-10-08     上午杭州;下午宁波;晚上上海
dtype: object