In [11]:
import pandas as pd
df_l = pd.read_excel('pd练习：018：查找全部是紧俏商品的商户.xlsx',usecols='A:C')
df_r = pd.read_excel('pd练习：018：查找全部是紧俏商品的商户.xlsx',usecols='F',nrows=5)
df_l

               商户 产品名称  商品数量
0   1037040400016  红塔山    90
1   1037040400016   红梅    51
2   1037040400016   云烟    42
3   1037040400034   贵烟    82
4   1037040400034   白沙    59
5   1037040400034   利群    76
6   1037040400038   中华    38
7   1037040400038   红梅    44
8   1037040400038   云烟   112
9   1037040400100   贵烟    35
10  1037040400100   白沙    43
11  1037040400100  红塔山    41

In [12]:
df_r

  紧俏商品
0  红塔山
1   红梅
2   云烟
3   贵烟
4   白沙

In [36]:
b = df_l.groupby('商户').apply(
    lambda x: x.产品名称.isin(df_r.紧俏商品).all(),
    include_groups=False
)
b.loc[b]

商户
1037040400016    True
1037040400100    True
dtype: bool

In [ ]:
(
    b := df_l.groupby('商户').apply(
        lambda x: x.产品名称.isin(df_r.紧俏商品).all(), include_groups=False
    )
).loc[b]

商户
1037040400016    True
1037040400100    True
dtype: bool